@charset "utf-8";
/* CSS Document */

#card_1{
	background: #00E5BC;
}

#card_2{
	background: #00E1E4;
}

#card_3{
	background: #00CFF1;
}

#card_4{
	background: #009DFF;
}

#card_5{
	background: #2789FF;
}

#card_6{
	background: #850EFE;
}
