@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Playfair+Display:400,500,700,800,900&display=swap');

:root{
  --color-text: #4D4D4D;
  --color-turquesa: #3DECCA;
  --color-lila: #850EFE;
  --sombra-title: 0px 1px 13px rgba(0, 0, 0, 0.4);
  --sombra-text: 0px 1px 13px rgba(0, 0, 0, 0.6);
}

body{
	font-family: 'Montserrat', sans-serif;
	color: var(--color-text);
}

h1{
	font-family: 'Playfair Display', serif;
	font-size: 2rem;
	font-weight: 500;
}

a{
	color: var(--color-text);
	background: -webkit-linear-gradient(left, #850EFE, #3DECCA);
	background: linear-gradient(to right, #850EFE, #3DECCA);
	-webkit-background-clip: text;  
	-webkit-text-fill-color: transparent;
}

a:hover{
  animation: fluido 2s ease-in-out infinite;
  background: -webkit-linear-gradient(left, #850EFE, #3DECCA);
  background: linear-gradient(to right, #850EFE, #3DECCA);
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn{
  color: var(--color-lila);
  border: solid 1px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, #3DECCA, #850EFE);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 1px 1000px 1px #fff inset;
  padding-left: 30px;
  padding-right: 30px;
}

.btn:hover{
  border: solid 1px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, #850EFE, #3DECCA);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: none;
}

.xs{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	padding-left: 20px;
}

.navbar{
	box-shadow: 0px -6px 20px 0px rgba(0, 0, 0, 0.3);
}

#navbar-logo{
	max-width: 130px;
	height: auto;
}



@keyframes fluido {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}